.home {
  color: white;
  display: flex;
  flex-flow: column;
  height: 90vh;
  background: url("../assets/computer1.jpg");
  background-size: cover;
}

.shop-now,
.home-desc {
  position: relative;
  top: 18%;
  left: 20%;
  margin-right: 30%;
  margin-bottom: 1rem;
}

.shop-now {
  background-color: white;
  width: max-content;
  padding: 0.5rem;
  border-radius: 2px;
}

.shop-now a {
  color: black;
  position: relative;
}

.shop-now a:after {
  content: "";
  position: absolute;
  left: 0;
  top: 100%;
  width: 0;
  height: 2px;
  transition: width 0.3s ease-in-out;
  background-color: black;
}

.shop-now a:hover:after {
  width: 100%;
}

.shop-now a:link,
.shop-now a:visited {
  text-decoration: none;
}
