.product-detail {
  display: flex;
  width: 50%;
  flex-flow: row;
  justify-content: space-evenly;
  align-items: center;
  border: 1px solid gray;
  padding: 1rem;
  border-radius: 0.5rem;
  justify-self: center;
  align-self: flex-start;
  margin: auto;
}

.product-detail-side {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
}

.product-detail-side img {
  max-width: 90vh;
  min-width: 80%;
}

.product-detail button {
  appearance: none;
  background: none;
  border: 1px solid lightgray;
  padding: 1rem;
  font-size: 1rem;
  border-radius: 0.5rem;
  cursor: pointer;
}

.product-detail button:hover {
  border: 1px solid gray;
}

@media (max-width: 480px) {
  .product-detail {
    width: 90%;
  }

  .product-detail-side img {
    max-width: 60vw;
  }
}
